$darkbg: #252627;
$darkcolor: #f2f0ed;

body.dark {
    color: $darkcolor;
    background-color: $darkbg;

    a {
        color: white;

        &.active,
        &.hover {
            color: $primary-colour !important;
        }
    }

    .project--details {
        background: #000000;
    }

    .web-design-imgs img,
    .project {
        box-shadow: 16px -8px 18px 0px #000000 !important;
    }

    .sidebar {
        background-color: $darkbg;
    }

    input,
    textarea,
    button {
        color: $darkcolor;
        background-color: $darkbg;
    }


    .quote {
        background: $darkbg !important;

        button {
            box-shadow: 4px 4px 5px #1b1b1b !important;
        }
    }




}