footer {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-around; // for IE
    justify-content: space-evenly;
    flex-direction: column;
    height: 340px;

    a {
        color: white;

        &:hover {
            color: $primary-colour !important;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
    }

}

#footer {
    &__links {
        display: flex;
        align-items: center;
        justify-content: space-around; // for IE
        justify-content: space-evenly;

        & div {
            font-size: 1.2em;
        }
    }

    &__message {
        display: flex;
        justify-content: center;
        font-size: 1.2em;

        a {
            color: $primary-colour;
        }

        span {
            padding: 0 20px;

            &:nth-child(2)::before {
                position: absolute;
                content: "";
                width: 66px;
                height: 2px;
                margin: 26px 0px 0px 50px;
                background: $primary-colour;
            }
        }
    }

    &__legal {
        text-align: center;
    }

    &__bottom {
        display: flex;
        align-items: center;

        div {
            width: calc(100% / 3);
        }
    }
}

#footer__palette {
    display: flex;
    text-align: center;
    justify-content: center;

    div {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 5px;
        border: 1px solid white;
        box-shadow: 0 0 0px 1px #c7c7c7;

        &:nth-child(1) {
            background: white;
        }

        &:nth-child(2) {
            background: black;
        }

        &:nth-child(3) {
            background: $primary-colour;
        }
    }
}

div#copy {
    text-align: center;
}

div#footer__social {
    text-align: center;

    & li {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 750px) {
    footer {
        #footer__bottom {
            flex-direction: column-reverse;
            justify-content: space-evenly;
            height: 115px;

            &>div {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    footer {
        justify-content: space-around;
        height: 230px;
    }

    #footer {

        &__message {
            display: none;
        }

        &__links {
            a {
                color: #ffffff;
                border-bottom: 2px solid #2c9aff63;
            }

            div {
                font-size: 1em;
            }
        }
    }
}