#quote-page {

    #quote-seo,
    #quote-social,
    #quote-chat,
    #quote-analytics,
    #quote-editable {
        display: none;
    }

    .quote {
        text-align: center;
        width: 300px;
        padding-right: 35px;

        input {
            text-align: center;
            font-size: 1.5em;
        }

        ul {
            list-style-type: none;
            text-align: left;
        }
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-start;

        svg {
            width: 80px;
            height: 80px;
            padding-right: 15px;

            &.tooltip {
                width: 15px !important;
                height: 15px !important;
                position: absolute;
                margin-left: 5px;
                margin-top: 5px;
                fill: $primary-colour;

                &:hover,
                &:active {
                    fill: darken($primary-colour, 20%) !important;
                }
            }
        }

        button {
            background: $primary-colour;
            color: white;
            border-radius: 30px;
            padding: 8px 40px;
            font-size: 1.05em;
            border: 0;
            cursor: pointer;

            &:hover {
                background: darken($primary-colour, 20%)
            }
        }
    }

    select {
        font-size: 1em;
        font-family: $primary-font;
        margin-top: 7px;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 600;
    }

    label {
        display: flex;
        flex-direction: column;
    }

    #total {
        border: 0;
        pointer-events: none;
        cursor: default;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0;
        font-weight: 600;
    }

    .tick {
        label {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;

            label {
                width: 22px;
            }
        }
    }

    .item {
        display: flex;
        padding: 12px;
        border-bottom: 1px solid #dad8d8;

        &.about {
            border-bottom: 0;
        }

        .options {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            input {
                align-self: flex-start;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    #popup-responsive,
    #popup-custom,
    #popup-estimate {
        display: none; // flex

        p {
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #2b97fb;
        }
    }

    @media only screen and (max-width: 500px),
    (orientation: portrait) {
        form {
            flex-direction: column-reverse;
            align-items: center;

            svg {
                width: 50px;
                height: 50px;
            }
        }

        .quote {
            padding: 30px 0;
            background: white;
            border-top: 1px solid #d2d2d2;

            button {
                width: 200px;
            }
        }
    }

}