#dark-mode {
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px;
    cursor: pointer;
    z-index: 1;
    fill: #e9aa71;

    &.light {

        #moon {
            display: block;
        }

        #sun {
            display: none;
        }
    }

    &.dark {

        #moon {
            display: none;
        }

        #sun {
            display: block;
        }
    }
}