#web-design-page {
    @extend %container-type-1;

    .web-design-imgs {
        @extend %trio-view;

        img {
            box-shadow: 16px -8px 18px 0px #c7c7c7;
        }

        div:nth-child(1) {
            width: 200px;
            display: block;
        }
    }

    .mock-ups {
        flex-direction: column;
        align-items: center;

        div {
            width: 50% !important;
            padding-bottom: 30px;
        }

        img {
            box-shadow: none;
        }
    }
}

@media (max-width: 1540px) {
    #web-design-page .web-design-imgs {
        img {
            width: 95%;
            height: 100%;
        }
    }
}

@media (max-width: 780px) {
    #web-design-page .web-design-imgs {
        flex-direction: column;
        align-items: center;

        div {
            width: 90% !important;
        }
    }
}