#work-page {
    @extend %container-type-1;

    .container.projects {
        margin-top: -60px;
    }

    button {
        background: none;
        font-size: 1.5em;
        font-family: inherit;
        border: 0;
        border-bottom: 3px solid transparent;
        margin: 2%;
        cursor: pointer;

        &.active-choice,
        &:focus,
        &:hover {
            outline: 0;
            border-bottom: 3px solid #2196f3;
        }
    }

    .inner-container {
        flex-wrap: wrap;
        padding-bottom: 5%;
        margin-top: 0;
        width: 95%;
        justify-content: center;
        z-index: 1;
    }

    .img-container {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        svg {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 15px;
            fill: #262626;
        }
    }

    .project {
        width: 32%;
        min-width: 300px;
        margin: 0.4% 0.5%;
        box-shadow: 7px 6px 13px 0px #949494;

        a.active,
        a:hover {
            color: #000;
        }
    }

    h3 {
        font-size: 3em;
        margin: 0;

        &::after {
            position: absolute;
            content: "";
            bottom: -6px;
            left: 0;
        }
    }
}

.project--details {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff; // IE
    background: #ffffff;
    opacity: 0;
}

.img-container:hover {
    &>.project--details {
        animation: opacity 1s ease both;
    }

    &>svg {
        display: none !important;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
    }
}

@keyframes border {
    0% {
        border-left: 0 solid $primary-colour;
    }

    100% {
        border-left: 6px solid $primary-colour;
    }
}

@keyframes fade-line {
    0% {
        border-bottom: 6px solid white;
        width: 0%;
    }

    100% {
        border-bottom: 6px solid $primary-colour;
        width: 100%;
    }
}

@keyframes fade-blue {
    0% {
        color: black;
    }

    100% {
        color: $primary-colour;
    }
}

div#myBtnContainer {
    width: 100%;
    text-align: center;
    margin-top: -3px;
    padding-bottom: 20px;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.project--links {
    padding: 15px;

    a {
        background: #000000;
        background: #000000c4;
        padding: 5px;
        color: white !important;
        margin: 5px;

        &:hover {
            background: $primary-colour;
        }
    }
}

@media (orientation: portrait),
(max-width: 780px) {
    #work-page {
        .container {
            justify-items: center;
            align-items: center;
        }

        .project {
            width: auto;
            box-shadow: none;
            border: 2px solid #dedede;

            .img-container svg {
                display: block;
            }
        }

        h3 {
            font-size: 2em;
        }

        #myBtnContainer {
            margin-top: -25px;

            button {
                font-size: 1.3em;
            }
        }
    }

    // .project--details{
    //     opacity: 0.7;
    // }
}