---
layout: default
class: index
---
<section class="section hero bg-blue">
    <div class="container">
        <h1 class="heading-1">I create websites that help small businesses thrive.</h1>
        <div class="img-container">
            <img src="assets-copy/images/portraits/portrait.jpg" width="640" height="960"
                alt=""
                >
        </div>
        <div class="content">
            <ul class="ticks__heading">
                <li>
                    <h2 class="heading">I use modern design methodologies</h2>
                    <p>Great design boils down to psychology, typography, and finding colours that not only complement
                        one another, but provoke certain emotions to your given audience. </p>
                </li>

                <li>
                    <h2 class="heading">I build with accessibility in mind</h2>
                    <p>Having a website that is accessible to everyone is extremely important. From colour contrast and
                        legible fonts, to code that screen readers can easily understand.</p>
                </li>

                <li>
                    <h2 class="heading">Let’s build a better future together</h2>
                    <p>I am currently reducing the cost of packages for businesses whose primary goal relates to
                        eco-friendliness, education, human rights, or equality.</p>
                </li>
            </ul>

            <a class="btn btn--primary" href="#section-1">Read more</a>
            <a class="btn btn--secondary" href="/about">Learn more about me</a>
        </div>
    </div>
</section>

<section id="section-1" class="section section__card accent--aqua">
    <div class="container">
        <div class="row">

            <div class="col col-6 image">
                <img src="/assets-copy/images/closet-shot.jpg" alt="a laptop showing a clothing website" height="962" width="1920">
            </div>

            <div class="col col-6 content">
                <h2 class="heading-1 line--top">I help you get your
                    shop online in style</h2>
                <p>Having an online store couldn’t be easier. With the addition of built-in analytics, you can update
                    your site to suit the needs of your customers.
                </p>

                <ul class="ticks__heading">
                    <li>
                        <h3 class="heading">Manage your online shop easily</h3>
                        <p>I typically use WooCommerce or Shopify, which both have mobile apps to run your store easily
                            no matter where you are.
                        </p>
                    </li>

                    <li>
                        <h3 class="heading">Perfecting your CTAs</h3>
                        <p>Call-to-actions prompt your customers to take a certain action and I’ll advise you on how to
                            improve upon them, as naming and placement are important, to generate more leads or
                            purchases.
                        </p>
                    </li>

                    <li>
                        <h3 class="heading">Built-in Analytics</h3>
                        <p>Knowing your audience is important, which is why I’ll connect your site to Google Analytics,
                            which gives you a breakdown of everyone visiting your site, from their location, to their
                            age and gender, and much more.

                        </p>
                    </li>
                </ul>

                <a class="btn btn--secondary" href="/services">View my services</a>
            </div>

        </div>
    </div>
</section>

<section id="communication" class="section section__card accent--aqua reversed">
    <div class="container">
        <div class="row">

            <div class="col col-6 image">
                <img src="/assets-copy/images/laptop-and-notes.jpg" alt="a notebook with a pen on top, with a laptop and phone next to it" height="1280" width="1920">
            </div>

            <div class="col col-6 content">
                <h2 class="heading-1 line--top">Communication is key</h2>
                <p>For me, communication is really important, and being on the same page with a client is one of my top
                    priorities. The more in-depth we talk about your project, the more aligned the result will be to
                    your expectations.
                </p>

                <ul class="ticks__heading">
                    <li>
                        <h3 class="heading">Let's talk... a lot</h3>
                        <p>I recommend we talk as much as we can, not only to give feedback and talk about what we like
                            and what can be improved, but to move through the project smoothly and to stay on the same
                            page.
                        </p>
                    </li>

                    <li>
                        <h3 class="heading">I’m here to bring the best out of your project</h3>
                        <p>Sometimes it’s hard to put a concept or idea into words, which is why I provide
                            through-provoking worksheets that we can go through together over a video call.
                        </p>
                    </li>
                </ul>

                <a class="btn btn--secondary" href="/services">View my services</a>
            </div>

        </div>
    </div>
</section>

<section class="section section__card accent--aqua">
    <div class="container">
        <div class="row">
            <div class="col col-6 image scale-down">
                <picture>
                    <source type="image/webp" srcset="/assets-copy/images/accessible.webp">
                    <img src="/assets-copy/images/accessible.png" alt="an oversimplified illustration showing a successful colour contrast"
                        width="2014" height="1422" />
                </picture>
            </div>

            <div class="col col-6 content">
                <h2 class="heading-1 line--top">I build with accessibility in mind</h2>
                <p>Have you ever looked at a website and squinted at the text? Maybe the font was too small, or maybe
                    the colour of the text was too similar to the background. I’m here to prevent that from happening.
                </p>

                <ul class="ticks__heading">
                    <li>
                        <h3 class="heading">I create accessible styles</h3>
                        <p>I’ll help you pick out the best colours and fonts that not only suit your company’s branding,
                            but are also legible and contrast well.
                        </p>
                    </li>

                    <li>
                        <h3 class="heading">I use semantic and SEO-friendly code</h3>
                        <p>Google prioritises websites whose code is easily readable and uses modern practises. I’ll
                            help you with that.
                        </p>
                    </li>

                    <li>
                        <h3 class="heading">Finalising a project</h3>
                        <p>Before I finish up, I always do tests to make sure your website is accessible. It must pass
                            legibility and contrast tests, but also has to work well for screen readers and disabled
                            users.
                        </p>
                    </li>
                </ul>

                <a class="btn btn--secondary" href="/services">View my services</a>
            </div>
        </div>
    </div>
</section>

{% include reviews.html %}

<section class="section section__card accent--aqua reversed">
    <div class="container">
        <div class="row">

            <div class="col col-6 image scale-down">
                <!-- <img class="lets-create" src="/assets-copy/images/lets-create-something-awesome.gif" alt="a GIF that stacks the words: Let's create something awesome" height="200" width="400"> -->

                <video class="lets-create" autoplay muted loop height="200" width="400">
                    <source src="/assets-copy/images/lets-create.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="col col-6 content">
                <h2 class="heading-1 line--top">An optimistic future</h2>
                <p>I am currently reducing the cost of packages by 20% for businesses whose <strong>primary</strong>
                    goal relates to eco-friendliness, education, human rights, or equality.
                </p>

                <a class="btn btn--secondary" href="/contact">Let's chat</a>
            </div>

        </div>
    </div>
</section>

{% include latest-project.html %}