---
title: Services
permalink: /services
class: services
---
<section class="section intro">
  <div class="container">
    <h1 class="heading-1 line--top">Services</h1>

    <p class="description">From bespoke web design and development, to extra help and monthly maintenance.</p>

    <hr>

    <ol>
      {%- for service in site.services -%}
      <li>
        <h2 class="heading-2">
          <a href="#{{ service.link }}">{{ service.title }}</a>
        </h2>
        <p>{{ service.description }}</p>
      </li>
      {%- endfor -%}
    </ol>

    <hr>

  </div>
</section>

<section class="section services">
  <div class="container">
    {%- for service in site.services -%}
    <article id="{{ service.link }}" class="section service">
      <div class="row">

        <div class="col col-6 content">
          <h2 class="heading-1 line--top">{{ service.title }}</h2>
          {{ service.content }}
        </div>

        <div class="col col-6 image">
          <img src="{{service.image}}" alt="{{service.image_alt}}">
        </div>

      </div>
    </article>
    {%- endfor -%}
  </div>
</section>

{% include faq.html %}
{% include contact-form.html type="full" %}