@mixin square {
    position: relative;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        background: #ffffff0d;
        height: 500px;
        width: 500px;
        top: 0;
        right: 0;
        transform: rotate(20deg);
        z-index: -1;
    }
}