@use "../_dependencies/colours";

$trans: 0.75s;

.btn {
    --thickness: 4px;
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    display: inline-block;

    border: 0;
    cursor: pointer;

    &+.btn {
        margin-top: 1em;

        @media only screen and (min-width: 843px) {
            margin-top: 0;
            margin-left: 1em;
        }
    }

    padding: 5px 12px;
    min-width: 9em;
    text-align: center;

    @media only screen and (max-width: 843px) {
        width: 100%;
    }
}

.btn--primary {
    background-color: var(--accent-primary);
    color: var(--body);

    .to-blue & {
        background-color: white;
        color: #28668c;

        &::before {
            background-color: colours.$aqua-400
        }
    }

    &::before {
        background-color: var(--accent-secondary-alt-darker);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        left: var(--thickness);
        top: var(--thickness);
        z-index: -1;

    }

    &:hover {
        transition: background-color 1.5s, color $trans;
        background-color: rgba(#021d2f, 0.56);
        color: white;

        .light & {
            background-color: rgba(#021d2f, 0.56);
            color: white;
        }

        .dark & {
            background-color: rgba(122, 172, 179, 0.7);
            color: #262626;
        }

        @media (prefers-color-scheme: dark) {
            background-color: rgba(122, 172, 179, 0.7);
            color: #262626;
        }

        &::before {
            transition: background-color $trans;
            background-color: colours.$blue-600;

            .light & {
                background-color: colours.$blue-600;
            }

            .dark & {
                background-color: white;
            }

            @media (prefers-color-scheme: dark) {
                background-color: white;
            }
        }
    }

}

.btn--secondary {
    --border: var(--thickness) solid #{colours.$aqua-400};
    border-right: var(--border);
    border-bottom: var(--border);
    background: transparent;
    color: colours.$blue-600;

    .light & {
        color: colours.$blue-600;
    }

    .to-blue &,
    .dark & {
        color: white;
    }

    @media (prefers-color-scheme: dark) {
        color: white;
    }

    .accent--gold & {
        --border: var(--thickness) solid #{colours.$gold-500};
    }

    .accent--blue &,
    .form & {
        --border: var(--thickness) solid #{#0f4567};
    }
}

#scrollTop {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
    border: 0;
    padding: 0;
    line-height: 1;
    background: transparent;
    cursor: pointer;
    opacity: 0;

    svg {
        fill: colours.$aqua-400;
        width: 30px;
        height: 30px;
    }
}