@use "../_dependencies/dimensions";

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: dimensions.$mq-l) {
        flex-direction: row;
        // min-height: 550px;

        .reversed & {
            flex-direction: row-reverse;
        }
    }
}

.col {
    position: relative;
    flex-basis: 100%;

    &.image {
        img {
            object-fit: cover;
            width: 100%;
            height: 200px;

            @media only screen and (min-width: dimensions.$mq-l) {
                // height: calc(100vw - #{dimensions.$padding * 2});
                height: 100%;
            }
        }
    }

    &.content {
        margin-top: 2.5em;

        @media only screen and (min-width: dimensions.$mq-l) {
            margin-top: 0;
        }
    }

    .btn {
        @media only screen and (min-width: dimensions.$mq-m) {
            margin-bottom: 4px;
        }
    }
}

.col-6 {
    flex-basis: 47%;
}

@media only screen and (min-width: dimensions.$mq-m) {
    .col.split {
        display: flex;
        justify-content: space-between !important;
        align-items: baseline;
        flex-direction: row !important;

        div {
            flex-basis: 47%;
        }
    }
}