@use "../_dependencies/assets";
@use "../_dependencies/colours";
@use "../_dependencies/dimensions";

.heading-1,
.title {
    font-size: 1.65em;
    line-height: 1.2em;
    margin-bottom: 15px;
    font-family: assets.$primary-font;

    @media only screen and (min-width: dimensions.$mq-m) {
        margin-top: 10px;
        font-size: 2.4em;
    }

    .to-blue & {
        color: white;
    }

    &.line--thick {
        position: relative;

        @media only screen and (max-width: dimensions.$mq-m) {
            display: inline-flex;
            margin-bottom: 2rem;
        }

        @media only screen and (min-width: dimensions.$mq-m) {
            margin-bottom: 3rem;
        }
    }

    &.line--thick::before {
        position: absolute;
        background: colours.$aqua-400;
        content: "";
        height: 15px;
        width: 100%;
        bottom: -0.3em;
        z-index: -1;
        transform: rotate(-2deg);

        @media only screen and (min-width: dimensions.$mq-m) {
            max-width: clamp(12em, 100%, 42%);
            height: 40px;
            bottom: -0.6em;
        }
    }
}

.line--top {
    position: relative;

    &::after {
        --width: 85px;
        position: absolute;
        content: "";
        background: colours.$aqua-400;
        height: 5px;
        width: var(--width);
        top: -10px;
        left: 0;
    }
}

.six-steps .line--top::before {
    --h: 203;
    --s: 45%;
    --l: 75%;
    --increment: 11%;
    width: calc(var(--width) / 5);
    background: hsl(var(--h), var(--s), var(--l));
    box-shadow:
        calc(var(--width) / 6 * 1) 0px 0px 0px hsl(var(--h), var(--s), calc(var(--l) - calc(var(--increment)*1))),
        calc(var(--width) / 6 * 2) 0px 0px 0px hsl(var(--h), var(--s), calc(var(--l) - calc(var(--increment)*2))),
        calc(var(--width) / 6 * 3) 0px 0px 0px hsl(var(--h), var(--s), calc(var(--l) - calc(var(--increment)*3))),
        calc(var(--width) / 6 * 4) 0px 0px 0px hsl(var(--h), var(--s), calc(var(--l) - calc(var(--increment)*4))),
        calc(var(--width) / 6 * 5) 0px 0px 0px hsl(var(--h), var(--s), calc(var(--l) - calc(var(--increment)*5)));
}

.heading-2,
.case-study h2,
.markdown h2 {
    font-size: 1.35em;
    line-height: 1.9rem;
    font-family: assets.$primary-font;

    @media only screen and (min-width: dimensions.$mq-m) {
        font-size: 1.67em;
    }
}

.heading-3,
.case-study h3,
.case-study h4,
.markdown h3,
.markdown h4,
.services article h3 {
    margin-top: 12px;
}

.heading-3,
.case-study h3,
.markdown h3 {
    font-size: 1em;
    font-family: assets.$primary-font;
}

.title {
    margin-bottom: 1.5em;

    // @media only screen and (min-width: dimensions.$mq-m) {

    //     // font-size: 3.7em;
    //     // max-width: 14ch;
    //     // line-height: 1em;
    // }
}

.case-study .content h3,
.line--bottom {
    position: relative;
    display: inline-flex;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        background: var(--accent-primary);
        opacity: 0.2;
        height: 7px;
        width: 100%;
        bottom: 5px;
        z-index: -1;
    }
}

.heading-2.line--bottom::before {

    @media only screen and (min-width: dimensions.$mq-m) {
        bottom: 3px;
    }
}

h1,
h2,
h3,
.case-study h3,
h4,
h5,
h6 {
    font-weight: normal;
    // transition: color 1s; // need it?
    color: var(--accent-primary);
}

.title {
    color: var(--accent-primary);
}