@use "../_dependencies/dimensions";
@use "../_dependencies/colours";

.section {
    margin-top: 6em;
    margin-bottom: 6em;
    scroll-margin-top: 1em;

    @media only screen and (min-width: dimensions.$mq-m) {
        scroll-margin-top: 3em;

        &+.section {
            margin-top: 15em;
            margin-bottom: 15em;
        }
    }
}

.section:first-of-type,
.article:first-of-type {
    margin-top: 4em;

    @media only screen and (min-width: dimensions.$mq-m) {
        margin-top: 5em;
    }
}

.section__card {
    // &:nth-child(odd) .row {
    //     @media only screen and (min-width: dimensions.$mq-l) {
    //         flex-direction: row-reverse;
    //     }
    // }

    // .row {
    //     @media only screen and (min-width: dimensions.$mq-l) {
    //         flex-direction: row-reverse;
    //     }
    // }

    // .image {
    //     img {
    //         object-fit: cover;
    //         width: 100%;
    //         height: calc(100vw - #{dimensions.$padding * 2});

    //         @media only screen and (min-width: dimensions.$mq-l) {
    //             height: 100%;
    //         }
    //     }
    // }

    .content {
        margin-top: 2.5em;

        @media only screen and (min-width: dimensions.$mq-l) {
            margin-top: 0;
        }
    }

    .btn {
        @media only screen and (min-width: dimensions.$mq-m) {
            margin-bottom: 4px;
        }
    }
}





.section.intro {
    counter-reset: h2;

    .description {
        margin-bottom: 3em;
    }

    li {
        margin: 2em 0;

        h2 {
            margin-bottom: 0.2em;
        }

        h2::before {
            counter-increment: h2;
            content: counter(h2) ". ";
        }
    }

    hr {
        height: 1px;
        border-width: 0;
        background-color: var(--primary);
        opacity: 0.13;
    }
}