// neutrals
$neutral-100: #e6e6e6;
$neutral-500: #676767;
$neutral-900: #242424;

// blues
$aqua-300: #baf1f7;
$aqua-400: #7aacb3;
$blue-400: #70aacf;
$blue-500: #35698a;
$blue-600: #0f4567;
$blue-900: #002b48;

// alts
$gold-400: #caaa6d;
$gold-500: #d4a345;

@mixin light() {
    --body: white; // wrapper bg
    --body-alt: #{$blue-500}; // blue bg
    --primary: black; // text
    --secondary: #{$blue-600}; // body (under wrapper)
    --accent-primary: #{$blue-600};
    --accent-primary-alt: #{$blue-500};
    --accent-secondary: #{$blue-600};
    --accent-secondary-alt: #{$blue-600};
    --accent-secondary-alt-darker: #{$blue-900};
}

@mixin dark() {
    --body: #{$neutral-900};
    --body-alt: #{$neutral-900};
    --primary: white;
    --secondary: #1e1e1e;
    --accent-primary: white;
    --accent-primary-alt: white;
    --accent-secondary: #{$blue-600};
    --accent-secondary-alt: #{$aqua-400};
    --accent-secondary-alt-darker: #{$aqua-400};
}

:root {
    @include light();

    .light {
        @include light();
    }

    .dark {
        @include dark();
    }

    @media (prefers-color-scheme: dark) {
        @include dark();
    }
}

.accent--aqua .ticks__li li::before,
.accent--aqua .ticks__heading .heading::before,
.services article ul li::before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='rgb(122, 172, 179)' viewBox='0 0 24 24'><path d='M0 0v24h24v-24h-24zm10.041 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z'/></svg>");
}

.accent {
    &--aqua {

        .image--line::after,
        .heading-1.line--top::after {
            background: $aqua-400;
        }
    }

    &--blue {

        .image--line::after,
        .heading-1.line--top::after {
            background: $blue-600;
        }

        .ticks__li li::before,
        .ticks__heading .heading::before {
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='rgb(15, 69, 103)' viewBox='0 0 24 24'><path d='M0 0v24h24v-24h-24zm10.041 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z'/></svg>");
        }
    }

    &--gold {

        .image--line::after,
        .heading-1.line--top::after {
            background: $gold-500;
        }

        .ticks__li li::before,
        .ticks__heading .heading::before {
            content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='rgb(212, 163, 69)' viewBox='0 0 24 24'><path d='M0 0v24h24v-24h-24zm10.041 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z'/></svg>");
        }
    }
}