@use "../_dependencies/colours";

[class*="language-"] {
    position: relative;

    &::before {
        font-weight: 800;
        font-size: .5rem;
        color: #fff;
        position: absolute;
        top: .5em;
        right: .4rem;
        letter-spacing: 0.08em;
    }
}

[class*="-js"]:before {
    content: "JavaScript";
}

[class*="-scss"]:before {
    content: "SCSS";
}

[class*="-css"]:before {
    content: "CSS";
}

[class*="-html"]:before {
    content: "HTML";
}

pre {
    background: #202020;
    border-radius: 3px;
    color: #929292;
    font: -webkit-control;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 1em;
    white-space: pre;
    overflow-x: auto;

    .gh,
    .gp,
    .gs,
    .gu {
        font-weight: bold
    }

    .ge {
        font-style: italic
    }

    .err {
        background: #C82829;
        color: #FFFFFF
    }

    .c,
    .p,
    .cm,
    .cp,
    .c1,
    .cs,
    .n,
    .sd {
        color: #929292
    }

    .l,
    .m,
    .mf,
    .mh,
    .mi,
    .mo,
    .se,
    .si,
    .il {
        color: #F5871F
    }

    .dl,
    .gi,
    .gp,
    .ld,
    .s,
    .sb,
    .s2,
    .sh,
    .sx,
    .sr,
    .s1,
    .ss {
        color: #83ba52
    }

    .k,
    .kc,
    .kd,
    .kr {
        color: #daa1ff;
    }

    .kp,
    .na,
    .nf,
    .nb {
        color: #61a6ff
    }

    .kt,
    .nc,
    .no,
    .nn,
    .nx {
        color: #f5d67b
    }

    .gu,
    .kn,
    .nd,
    .nt,
    .ow {
        color: #7de9f0;
    }

    .o,
    .gh,
    .w,
    .sc,
    .bp,
    .py,
    .ni,
    .nl {
        color: #e8e8e8
    }

    .gd,
    .ne,
    .nv,
    .vc,
    .vg,
    .vi {
        color: #C82829
    }
}