@use "../_dependencies/dimensions";
@use "../_dependencies/colours";
@use "../_mixins/shapes";

.project--latest {
    background: var(--body-alt);
    @include shapes.square;
    overflow: hidden;
    --border: 5px solid #{colours.$aqua-300};
    border-top: var(--border);
    border-bottom: var(--border);

    .container {
        padding: 3em 0;

        * {
            color: white;
        }
    }

    .project {
        margin-bottom: 0 !important;
    }

    @media only screen and (max-width: dimensions.$mq-l) {
        .row {
            display: initial !important;
        }

        h3 {
            margin-top: .3em;
        }
    }

    .col {
        position: relative;
        z-index: 0;
    }

    .btn--primary {
        color: colours.$blue-600;
        background: white;

        &::before {
            background-color: colours.$aqua-400;
        }
    }

    h2 {
        color: white !important;
    }
}