@use "../_dependencies/assets";
@use "../_dependencies/colours";
@use "../_dependencies/dimensions";

.projects {
    counter-reset: section;

    a {
        text-decoration: none;
    }

    ul,
    li {
        list-style: none;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .project {
        margin-bottom: 8em;

        img {
            object-fit: cover;
            width: 100%;
            height: 52vw;
        }

        @media only screen and (min-width: dimensions.$mq-l) {
            margin-bottom: 100px;

            .row,
            .col {
                height: inherit;
            }

            img {
                // box-shadow: 8px 8px 14px #b3b3b3;
                height: 335px;
            }

            p {
                padding-right: 100px;
            }
        }

        &--details,
        p.coming-soon {
            margin: 20px 0;
            font-size: 0.9em;
        }
    }

    .project--details,
    p.coming-soon {
        color: var(--accent-secondary-alt-darker);

        .to-blue & {
            color: white;
        }

    }

    h2,
    h3 {
        margin-bottom: 0.6em;
    }

    &--main,
    &--side {
        h2 {
            position: relative;
            margin-top: 40px;

            // line
            &::before {
                content: "";
                position: absolute;
                background: #E1E1E1;
                height: 3px;
                width: 28px;
                top: -20px;

                .to-blue & {
                    background: colours.$aqua-400;
                }
            }

            // number
            &::after {
                counter-increment: section;
                content: counter(section, decimal-leading-zero);
                font-family: assets.$primary-font;
                font-weight: normal;
                color: #DDDDDD;
                position: absolute;
                top: -35px;
                left: 35px;
                font-size: 0.9rem;

                .to-blue & {
                    color: colours.$aqua-400;
                }
            }
        }
    }

    &--main {
        .project {
            @media only screen and (min-width: dimensions.$mq-l) {
                height: 335px;
            }
        }

        .row {
            flex-direction: column-reverse;

            @media only screen and (min-width: dimensions.$mq-l) {
                flex-direction: row;
            }
        }

        @media only screen and (min-width: dimensions.$mq-l) {
            h2 {
                margin-top: 26px;
            }
        }
    }

    &--side {
        .projects--list {
            @media only screen and (min-width: dimensions.$mq-l) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        .project {
            @media only screen and (min-width: dimensions.$mq-l) {
                width: 47%;
            }
        }

        @media only screen and (min-width: dimensions.$mq-l) {
            h2 {
                margin-top: 40px;
            }
        }

        .row {
            flex-direction: column;
        }
    }

    h2 {
        color: var(--accent-secondary-alt);
    }

    .to-blue & h2 a {
        color: white;
    }

    .coming-soon {
        text-decoration: underline;
    }
}