---
layout: default
class: markdown
---
<article class="section">
    <div class="container">
        <header class="header">
            <h1 class="title line--top">{{ page.title }}</h1>
        </header>

        <section class="content">
            {{ content }}
        </section>
    </div>

    <footer>
        <!-- <div class="banner banner__case-studies">
            <div class="container">
                <h2 class="heading-2 line--top">Recent case studies</h2>
                {%- assign case-studies = site.case-studies | where_exp:"case-study","case-study.url != page.url" -%}
                {%- for case-study in case-studies limit:3 -%}
                <article class="banner__case-study">
                    <a href="{{ case-study.url }}">
                        <img src="/assets/images/case-studies/{{ case-study.thumbnail }}" alt="">
                        <h3 class="heading-3">{{ case-study.type | capitalize }} | {{ case-study.title }}</h3>
                    </a>
                </article>
                {%- endfor -%}

            </div>
        </div> -->

       
    </footer>
</article>

{% include cta.html
text="Let's work on something great."
link="/contact"
%}